{% extends "movie_recommendation_app/base.html" %}
{% block content %}
<h1>Please rate your favorite movies!</h1>
<form class="form-horizontal" method="POST" action="">
    <div class="row">
        <div class="col-4 text-center">
            <label>Movie</label>
        </div>
        <div class="col-1 text-center">
            <label>Rating</label>
        </div>
    </div>
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="text-danger">{{ formset.non_form_errors }}</div>
    {% for form in formset %}
        <div class="text-danger">{{ form.non_field_errors }}</div>
        <div class="row form-row spacer p-3">
            <div class="col-4">
                <div class="input-group">
                    {{form.movie}}
                </div>
            </div>
            <div class="col-1">
                <div class="input-group">
                    {{ form.rating }}
                </div>
            </div>
            <div class="input-group-append">
                <button class="btn btn-success add-form-row">+</button>
            </div>
        </div>
    {% endfor %}
    <div class="row spacer">
        <div class="col-4 offset-1">
            <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </div>
    </div>
</form>

<script>
    $('.add-form-row').click(function () {
        console.log( "adding form row...")
        cloneAutocompleteRow('.form-row', 'form');
        console.log( "form row added")
    });
</script>

<script>

    var autocompleteOptions = {
        minLength: 2,
        source: function(request, response) {
            $.ajax({
            type: "GET",
            url: "/ajax/search/",
            data: { term: request.term },
            success: function(data) {
                response(data);
            }
            });
        }
    }

    $(document).ready(function(){ 
        $(".textSearch").autocomplete(autocompleteOptions);
    });


</script>

{% endblock %}