{% extends "movie_recommendation_app/base.html" %}
{% block content %}
<div class="jumbotran">
    <h1>Please register below!</h1>
    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}
        <div class="row col-1 mt-4">
            <label>{{ signup_form.userName.label_tag }}</label>
        </div>
        <div class="row col-1">
            {{ signup_form.userName }}
        </div>
        <div class="row col-1 mt-4">
            <label>{{ signup_form.userPassword.label_tag }}</label>
        </div>
        <div class="row col-1">
            {{ signup_form.userPassword }}
        </div>
        <div class="row col-1 mt-4">
            <label>{{ signup_form.userEmail.label_tag }}</label>
        </div>
        <div class="row col-1">
             {{ signup_form.userEmail }}
        </div>
        <div class="row spacer">
            <div class="col-2 mt-4">
                <button type="submit" class="btn btn-block btn-primary">Register</button>
            </div>
        </div>
        <div class="text-danger">{{ signup_form.non_field_errors }}</div>
    </form>
</div>
{% endblock %}